<div class="container">
    <div class="row">
        <div class="col-md-12 mt-2">
            {% for room in rooms %}
            <div class="card mb-3">
                <div class="card-body">
                    <a href="{% url 'user-profile' room.host.id %}" class="text-decoration-none text-dark">
                        @{{ room.host.username }}
                    </a>
                    <h3 class="mt-2">
                        Room ID: {{ room.id }} — <a href="/room/{{ room.id }}" class="text-decoration-none text-dark">{{ room.name }}</a>
                    </h3>
                    {% if request.user == room.host %}
                    <a href="{% url 'update-room' room.id %}" class="btn btn-sm btn-primary">Edit</a>
                    <a href="{% url 'delete-room' room.id %}" class="btn btn-sm btn-danger">Delete</a>
                    {% endif %}
                    <br>
                    <small class="text-muted">{{ room.topic.name }}</small>
                </div>
                <hr class="my-2">
            </div>
            {% endfor %}
        </div>
    </div>
</div>
