{% extends "base/main.html" %}
{% block content %}
    {% if page == 'login' %}
    <div>
        <form method="POST" action="">
            {% csrf_token %}
            <div>
                <label for="username">Username:</label>
                <input type="text" name="username" id="username">
            </div>
            <div>
                <label for="password">Password:</label>
                <input type="password" name="password" id="password">
            </div>
            <input type="submit" value="Login">
        </form>
        <p> haven't signed up yet? </p>
        <a href = "{% url "register" %}"> Sign Up </a>
    </div>
    {% else %}
    <div>
        <form method="POST" action="">
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" value="register">
        </form>
        <p> Already Signed up </p>
        <a href="{% url "login" %}"> login </a>

    </div>
    {% endif %}
{% endblock content %}







