<nav class="navbar navbar-dark bg-light">
    <a class="navbar-brand custom-navbar-brand" href="/">
      StudyApp
    </a>

    <form method="GET" action = "{% url "home" %}">
      <input type = "text" name = "q" placeholder = "Search Rooms ..." />
    </form>
    {% if request.user.is_authenticated %}
    <p> {{request.user.username}}</p>
    <a href = "{% url 'update-user' user.id %}"> Settings </a>
    <a href = "{% url "logout" %}"> logout </a>
    {% else %}
      <a href = "{% url "login" %}"> login </a>
    {% endif %}
   
  </nav> 