{% extends "base/main.html" %}

{% block content %}
<div class="container room-container">
    <div class="row">
        <div class="col-md-8">
            <div class="card mb-4">
                <div class="card-body">
                    <h1>{{ room.name }}</h1>
                    <h3>@{{ room.host.username }}</h3>
                    <p>{{ room.description }}</p>

                    <div class="comment-wrapper">
                        <h3>Conversation</h3>
                        <hr>
                        {% for message in room_messages %}
                            <div>
                                <small>@{{ message.user }} – {{ message.created|timesince }} ago</small>
                                <p>{{ message.body }}</p>
                                {% if request.user == message.user %}
                                <a href="{% url "delete-message" message.id %}" class="btn btn-sm btn-danger">Delete</a>
                                {% endif %}
                                <hr>
                            </div>
                        {% endfor %}
                    </div>

                    {% if request.user.is_authenticated %}
                    <div class="comment-form mt-4">
                        <form method="POST" action="">
                            {% csrf_token %}
                            <div class="form-group">
                                <input type="text" name="body" class="form-control" placeholder="Write your message here">
                            </div>
                            <button type="submit" class="btn btn-primary">Post</button>
                        </form>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h3>Participants</h3>
                    <hr>
                    {% for participant in participants %}
                    <div>
                        <p>@{{ participant.username }}</p>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
